:root {
  --background: #f7f8f8;
  --forground: #fff;
  --btn-color: #55a3f0;
  --backdrop: rgba(51, 51, 51, 0.49);
  --primary: #3a8bed;
  --greeen: #4ade80;
  --red: #f43f5e;
  --input: #f2f2f2;
  --border: #e4e4e4;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Vazirmatn";
}
